<section class="content">
	<div class="con-zone">
		<div class="silver">
			<ul>
				<li class="circle-friend cf">
					<span class="p-icon"></span>
					<span class="p-info">朋友圈</span>
				</li>
				<li class="sys-box circle-friend">
					<a href="">
						<span class="p-icon"></span>
					    <span class="p-info">扫一扫</span>
					</a>
				</li>
				<li class="yaoyiyao-box circle-friend">
					<span class="p-icon"></span>
				    <span class="p-info">摇一摇</span>
				</li>
				<li class="fujinderen circle-friend">
					<span class="p-icon"></span>
					<span class="p-info">附近的人</span>
				</li>
				<li class="shop circle-friend">
					<a href="">
						<span class="p-icon"></span>
					    <span class="p-info">购物</span>
					</a>
				</li>
				<li class="game circle-friend">
					<span class="p-icon"></span>
				    <span class="p-info">游戏</span>
				</li>
			</ul>
		</div>
	</div>
</section>