<section class="content" id="liaotian">
	<div class="con-zone">
		<ul class="collections" id="liaotian">
			 <li class="riqi">6月7日下午19:50</li>
		     <li class="collection-item avatar xx" ng-repeat ="v in cl" ng-class="{me:v.isMe}">
		       <img ng-if="!v.isMe" src="{{duifang}}" alt="" class="circle" > 
	           <img ng-if="v.isMe" src="{{ziji}}" alt="" class="circle" >  
		       <p class="zi">{{v.xinxi}}<br>
		       </p>
		       <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
		</ul>
	</div>
</section>