<section class="content">
	<div class="con-zone">
		<div class="silver">
			<ul>
				<li class="owner">
				     <span class="owner-icon"></span>
				     <div class="name">
				     	<span class="owner-name">醉月</span>
				     	<span class="owner-num">微信号: 123466789</span>
				     </div>
				     <span class="owner-ewm"></span>
				</li>
				<li class="circle-friend album">
					<a href="">
						<span class="p-icon"></span>
						<span class="p-info">相册</span>
					</a>
				</li>
				<li class="sys-box circle-friend">
					<span class="p-icon"></span>
				    <span class="p-info">收藏</span>
				</li>
				<li class="circle-friend album">
					<a href="">
						<span class="p-icon"></span>
						<span class="p-info">钱包</span>
					</a>
				</li>
				<li class="sys-box circle-friend">
					<span class="p-icon"></span>
				    <span class="p-info">卡券</span>
				</li>
				<li class="circle-friend album">
					<span class="p-icon"></span>
					<span class="p-info">表情</span>
				</li>
				<li class="circle-friend set">
					<span class="p-icon"></span>
					<span class="p-info">设置</span>
				</li>
			</ul>
		</div>
	</div>
</section>