<footer class="footer">
	<div class="selected">
		<ul>
			<a href="#/weixin">
				<li class="info active" ng-class="{active:title=='微信'}" ng-click="title='微信'">
					<span class="info-icon"></span>
					<span class="info-num">6</span>
					<span class="info-con">微信</span>
				</li>
			</a>
			<a href="#/tongxunlu">
				<li class="info" ng-class="{active:title=='联系人'}" ng-click="title='联系人'">
					<span class="info-icon tongxunlu"></span>
					<span class="info-con">通讯录</span>
				</li>
			</a>
			<a href="#/find">
				<li class="info" ng-class="{active:title=='发现'}" ng-click="title='发现'">
					<span class="info-icon find"></span>
					<span class="info-con">发现</span>
				</li>
			</a>
			<a href="#/me">
				<li class="info info-last" ng-class="{active:title=='我'}" ng-click="title='我'">
					<span class="info-icon me"></span>
					<span class="info-con">我</span>
				</li>
			</a>
		</ul>
	</div>
</footer>